body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Img/blur-1283865_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    max-width:720px!important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#BannerImg{
    width:100%;
    width:600px;
    height: 150px;
    padding-top:125px;
    
    
}
/*rutan där man ser PDF:en*/
#showPDF {
        height: 100%;
        width: 100%;
        max-height: 450px;
        max-width: 450px;
        border: 1px solid;
}

.navbar-inverse a {
    color:wheat!important;
}
.navbar-inverse a:hover {
    background-color:wheat!important;
    color:black!important;
}
.li a {
    border-color: black;
}
.navbar-img-left{
    margin-left: 2px!important;
}
.bodyDiv {
    background-color: wheat;
    opacity: 0.9;
    margin:auto;
    width:100%;
    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    
}
.sidebar-Top {
    height:200px;
    width: 200px;
    background-color:wheat;
    opacity: 0.9;
    border-radius: 5px;
    position:relative;
    border-color:black;
    padding: 5px;
    border-style:solid;
    border-width: 1px;
}
.sidebar-mid-bot {
    height:200px;
    width: 200px;
    background-color:wheat;
    opacity: 0.9;
    border-radius: 5px;
    position:relative;
    border-color:black;
    padding: 5px;
    margin-top: 5px;
    border-style:solid;
    border-width: 1px;
}

.max-width-navbar {
    max-width:970px;
}
