body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Img/blur-1283865_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    max-width:720px!important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#BannerImg{
    width:100%;
    width:600px;
    height: 150px;
    padding-top:125px;   
    
}
/*rutan där man ser PDF:en*/
#showPDF {
        height: 100%;
        width: 100%;
        max-height: 450px;
        max-width: 450px;
        border: 1px solid;
}
/*change font nabar*/
.navbar-inverse a {
    font-family:"Engravers MT", "Engravers MT",sans-serif;
}
/*margin of the small logo in navbar*/
.navbar-img-left{
    margin-left: 2px!important;
}
/*the top sidebar*/
.sidebar-Top {
    height:300px;
    width: 200px;
    background-color:wheat;
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
}
/*middle and bottom sidebar*/
.sidebar-mid-bot {
    height:300px;
    width: 200px;
    background-color:wheat;
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}
/*max-width on navbar*/
.max-width-navbar {
    max-width:970px;
}
/*the divbox on every page*/
.bodyDiv {
    background-color: wheat;
    opacity: 0.9;
    width:100%;
    border-radius: 5px;
    border-width: 1px;
    margin-right:10px;
    margin-bottom: 10px;
}

.book-Box {
    border-width: 5px;
}
/*font-changes to title inside Books*/
.bookTitle{
    font-size:20px;
    padding:10px;
    margin-bottom:1px!important;
}
/*font-changes to author inside Books*/
.bookAuthor{
    font-size:smaller;
    padding-left:10px;
}
/*font-changes to summary inside Books*/
.booktText{
    padding-left: 10px;
    
}
/*font-changes to searchField inside Books*/
.searchField {
    padding:2px;
}
/*dropdownbuttons*/
.dropbtn {
    background-color: black;
    color: wheat;
    font-size: 14px;
    border: none;
    cursor: pointer;
    height: 50px;
    margin-left: 3px;
}
/* dropdown-menu-hover */
.btn:hover {
    background-color: wheat;
}
/* dropdown-menu */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: wheat;
    display: none;
    position: absolute;
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu>{
     background-color: wheat!important;
     color:black!important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus 
{
    background-color: black!important;
    color:wheat!important;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: black!important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: wheat!important;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: wheat!important;
}
.dropdown-menu {
    background-color: wheat!important;
}