@model Wordless.Models.Book

<div class="container">
    <div class="bodyDiv register-page-div">
        <div style="font-family">
            <h2>Details</h2>

            @Html.DisplayForModel()

            @Html.ActionLink("Back to Book List", "Index", "UserPage")

        </div>
        </div>
</div>