
@{
    ViewBag.Title = "FBLogin";
}

<h2>Facebook Login</h2>

@Html.ActionLink("Login with Facebook", "Facebook")

@*<a href="/Account/FbLogin/">Login with Facebook</a>*@

<div class="fb-like"
     data-share="true"
     data-width="450"
     data-show-faces="true">
</div>